/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.env.example
.DS_Store

/bootstrap/compiled.php


/build/logs
/build/coverage


/app/tests/_log

.DS_Store

/.idea
/_ide_helper.php


/app/config/packages
/public/packages

.env
